HTTP/2 HTTPHeaders.isKeepAlive

### Expected behavior

HTTP/2 `HTTPHeaders` should have `isKeepAlive` = `true`.

### Actual behavior

`HTTPHeaders.isKeepAlive` is `false` for an HTTP/2 request. The [unspecified check](https://github.com/apple/swift-nio/blob/master/Sources/NIOHTTP1/HTTPTypes.swift#L415) looks for HTTP/1.1 specifically to default to true:

```swift
// HTTP 1.1 use keep-alive by default if not otherwise told.
return version.major == 1 && version.minor >= 1
```

I think this check might also want to return true if `version.major == 2`. 

### SwiftNIO version/commit hash

`master`


I...don't think I agree.

Ultimately this is the result of having done something a bit awkward, which is use the data types from SwiftNIO HTTP/1 as the translated data types in SwiftNIO HTTP/2. This means there are many parts of the underlying representation that don't make too much sense. Another example is the version number having a *minor* version: only HTTP/1 has minor versions, no other version does. Fundamentally, the types in NIOHTTP1 are intended more for high-performance utilisation by a strictly-HTTP/1 pipeline than as a general representation of HTTP semantics.

Ideally we'd take a step back and define some more general currency types, and then have converters for both HTTP/1 and HTTP/2 that convert to those types.

For HTTP/2 there are two ways you can think about keep-alive working. One model is that all requests are by-default keep-alive: the underlying connection will stay active when the request has completed. In that mental model, HTTP/2 is returning the wrong answer.

Another model is that all requests in HTTP/2 are *not* keep-alive. This is because the HTTP/2 *stream* (which you must be operating on to see this behaviour) does in fact close after a single request-response pair. This is experientially identical to a HTTP/1 request without keep-alive: when the request/response cycle is completed, the channel will be closed. The fact that there is an underlying channel that remains open is not really relevant to the per-stream pipeline.

Of course, the *correct* answer to the question "is this HTTP/2 request a keep-alive request" is actually [無](https://en.wikipedia.org/wiki/Mu_(negative)). The answer you currently get (`false`) is not even wrong. Keep-alive is simply not a HTTP/2 concept. Even the `Connection` header that carries the keep-alive information is undefined in HTTP/2 ([RFC 7540 § 8.1.2.2](https://tools.ietf.org/html/rfc7540#section-8.1.2.2)). There is simply no intelligent answer to the question: as a result, `true` is not a better answer than `false`.

The actual purpose of the `isKeepAlive` property is to let you place appropriate response headers such that we do not encounter problems with framing. In a well-formed HTTP application, the only things that should be looking at this are things that explicitly concern themselves with HTTP/1 framing (e.g. `HTTPServerPipelineHandler`), or something that just wants to echo back the answer.

(Incidentally, I think we currently have a limitation in swift-nio-http2 that we don't strip the connection header and anything else hop-by-hop in the `HTTP2ToHTTP1Codec`. If that's an issue you're hitting, we should fix it there, rather than change this field.)

This makes a lot of sense, thank you for the detailed response. I agree that the correct solution here is version independent HTTP types. 

> Incidentally, I think we currently have a limitation in swift-nio-http2 that we don't strip the connection header and anything else hop-by-hop in the `HTTP2ToHTTP1Codec`

Yup, that's what I was hitting. I have some logic adds an appropriate `Connection` header to responses based on the `isKeepAlive` value:

```swift
res.headers.add(name: .connection, value: req.isKeepAlive ? "keep-alive" : "close")
let done = context.write(self.wrapOutboundOut(res))
if !req.isKeepAlive {
    _ = done.flatMap {
        return context.close()
    }
}
```

When running over HTTP/2, I was getting a `NoSuchStream(id: 1)` error which I discovered was due to `curl` closing the connection after discovering an invalid header.

For now, I'm just checking the major version before doing `isKeepAlive` checks. 

```swift
switch req.version.major {
        case 2: // just write response
        default: // check isKeepAlive header
}
```

That's a solid workaround. Please also file a bug against swift-nio-http2 for not stripping those headers.

I've added an issue about HTTP/2 connection field headers here: https://github.com/apple/swift-nio-http2/issues/47. 

Should we close this issue in favor of a more generic one regarding version independent HTTP types?

@tanner0101 I think yes